* {
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Nunito Sans', sans-serif; */
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

html {
    scroll-behavior: smooth
}

body {
    background-color: #252525;
}

section {
    width: 100%;
    height: 100vh;
    padding: 20px;
}

span {
    color: aliceblue;
    font-size: 25px;
    font-weight: 300;
}

h2 {
    color: aliceblue;
    font-weight: 500;
    font-size: 30px;
}

hr {
    width: 100px;
    border-color: rgb(106, 0, 255);
    position: relative;
    display: flex;
}

.title {
    font-weight: 800;
    font-size: 5em;
    color: aliceblue;
    text-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.title > span {
    font-weight: 800;
    font-size: 1em;
    color: rgb(106, 0, 255);
}

.container {
    max-width: 1100px;
    height: 100%;
    margin: auto;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.presentation {
    min-width: max-content;
}

.section-title {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
}

/* 

    NAV

*/

.nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.nav .nav__ul {
    display: flex;
    
}

.nav .nav__ul .nav__li {
    list-style: none;
    color: aliceblue;
    padding: 20px;
}

.nav .nav__ul .nav__li a {
    text-decoration: none;
    color: aliceblue;
    /* border-bottom: 1px solid #fff; */
}

.nav .nav__ul .nav__li a:hover {
    color: rgb(163, 165, 166);
}

/* 

    POPUP

*/

.popup {
    display: inline;
    background-color: rgb(217, 132, 251);
    padding: 8px;
    border-radius: 20px 20px 20px 0px;
}

.popup span {
    font-size: 16px;
    color: #3d3d3d;
    font-weight: 500;
}

/* 

    HELPERS

*/

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.left {
    justify-content: left;
}

.center {
    justify-content: center;
}

.right {
    justify-content: right;
    flex-direction: row-reverse;
}




